USE [master]
GO
/****** Object:  Database [LibraryManagementDB]    Script Date: 9/16/2026 3:04:51 AM ******/
CREATE DATABASE [LibraryManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryManagementDB', FILENAME = N'E:\New folder\MSSQL17.SQLEXPRESS\MSSQL\DATA\LibraryManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryManagementDB_log', FILENAME = N'E:\New folder\MSSQL17.SQLEXPRESS\MSSQL\DATA\LibraryManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryManagementDB]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 9/16/2026 3:04:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Action] [varchar](100) NOT NULL,
	[Details] [varchar](500) NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 9/16/2026 3:04:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] NOT NULL,
	[BookName] [varchar](100) NULL,
	[Author] [varchar](100) NULL,
	[Category] [varchar](100) NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinePayments]    Script Date: 9/16/2026 3:04:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinePayments](
	[FineID] [int] IDENTITY(1,1) NOT NULL,
	[IssueID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[FineAmount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [date] NOT NULL,
	[PaymentStatus] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueBooks]    Script Date: 9/16/2026 3:04:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueBooks](
	[IssueID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NULL,
	[MemberID] [int] NULL,
	[IssueDate] [date] NULL,
	[DueDate] [date] NULL,
	[ReturnDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IssueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 9/16/2026 3:04:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] NOT NULL,
	[MemberName] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Address] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 9/16/2026 3:04:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [varchar](50) NOT NULL,
	[SettingValue] [varchar](255) NOT NULL,
	[Category] [varchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/16/2026 3:04:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Role] [varchar](30) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [Details], [Timestamp]) VALUES (1, 1, N'LOGIN', N'Admin login successful', CAST(N'2026-09-15T22:15:14.153' AS DateTime))
INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [Details], [Timestamp]) VALUES (2, 1, N'USER_CREATE', N'Created librarian user: John Doe', CAST(N'2026-09-13T22:15:14.153' AS DateTime))
INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [Details], [Timestamp]) VALUES (3, 1, N'SETTINGS_UPDATE', N'Updated DailyFineRate to 2.00', CAST(N'2026-09-10T22:15:14.153' AS DateTime))
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
INSERT [dbo].[Books] ([BookID], [BookName], [Author], [Category], [Quantity]) VALUES (1234, N'Game of Thrones', N'Gorge RR Martin', N'Thriller', 4)
INSERT [dbo].[Books] ([BookID], [BookName], [Author], [Category], [Quantity]) VALUES (2345, N'Harry Poter', N'Arafat', N'Fiction', 2)
INSERT [dbo].[Books] ([BookID], [BookName], [Author], [Category], [Quantity]) VALUES (4562, N'OOP2', N'Mahi', N'Science', 10)
GO
SET IDENTITY_INSERT [dbo].[FinePayments] ON 

INSERT [dbo].[FinePayments] ([FineID], [IssueID], [MemberID], [FineAmount], [PaymentDate], [PaymentStatus]) VALUES (1, 1, 1234, CAST(10.00 AS Decimal(10, 2)), CAST(N'2026-09-15' AS Date), N'Paid')
INSERT [dbo].[FinePayments] ([FineID], [IssueID], [MemberID], [FineAmount], [PaymentDate], [PaymentStatus]) VALUES (2, 6, 1234, CAST(10.00 AS Decimal(10, 2)), CAST(N'2026-09-15' AS Date), N'Paid')
SET IDENTITY_INSERT [dbo].[FinePayments] OFF
GO
SET IDENTITY_INSERT [dbo].[IssueBooks] ON 

INSERT [dbo].[IssueBooks] ([IssueID], [BookID], [MemberID], [IssueDate], [DueDate], [ReturnDate]) VALUES (1, 1234, 1234, CAST(N'2026-09-14' AS Date), CAST(N'2026-09-21' AS Date), CAST(N'2026-09-15' AS Date))
INSERT [dbo].[IssueBooks] ([IssueID], [BookID], [MemberID], [IssueDate], [DueDate], [ReturnDate]) VALUES (2, 1234, 1234, CAST(N'2026-09-15' AS Date), CAST(N'2026-09-21' AS Date), CAST(N'2026-09-15' AS Date))
INSERT [dbo].[IssueBooks] ([IssueID], [BookID], [MemberID], [IssueDate], [DueDate], [ReturnDate]) VALUES (3, 1234, 1234, CAST(N'2026-09-15' AS Date), CAST(N'2026-09-22' AS Date), CAST(N'2026-09-16' AS Date))
SET IDENTITY_INSERT [dbo].[IssueBooks] OFF
GO
INSERT [dbo].[Members] ([MemberID], [MemberName], [Email], [PhoneNumber], [Address]) VALUES (1234, N'Arafat Rahman', N'arafatrahman1807@gmail.com', N'01758571757', N'Bashundhora R/A')
GO
SET IDENTITY_INSERT [dbo].[SystemSettings] ON 

INSERT [dbo].[SystemSettings] ([SettingId], [SettingKey], [SettingValue], [Category], [UpdatedAt]) VALUES (1, N'DailyFineRate', N'5.00', N'FinePolicy', CAST(N'2026-09-15T19:47:24.270' AS DateTime))
INSERT [dbo].[SystemSettings] ([SettingId], [SettingKey], [SettingValue], [Category], [UpdatedAt]) VALUES (2, N'GracePeriodDays', N'5', N'FinePolicy', CAST(N'2026-09-15T19:47:24.270' AS DateTime))
INSERT [dbo].[SystemSettings] ([SettingId], [SettingKey], [SettingValue], [Category], [UpdatedAt]) VALUES (3, N'StudentMaxLoanDays', N'10', N'General', CAST(N'2026-09-15T19:47:24.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[SystemSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Role], [IsActive]) VALUES (1, N'Librarian', N'librarian@gmail.com', N'1234', N'Librarian', 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Role], [IsActive]) VALUES (3, N'Admin User', N'admin@library.com', N'admin123', N'System Administrator', 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Role], [IsActive]) VALUES (4, N'Librarian User', N'librarian@library.com', N'1234', N'Librarian', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SystemSe__01E719ADEDEB4623]    Script Date: 9/16/2026 3:04:52 AM ******/
ALTER TABLE [dbo].[SystemSettings] ADD UNIQUE NONCLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053469F207F9]    Script Date: 9/16/2026 3:04:52 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ('General') FOR [Category]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users]
GO
USE [master]
GO
